* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ubuntu", sans-serif;
}

.navblock {
  width: 100%;
  /* min-width: 300px; */
  position: fixed;

  padding: 1em;
  z-index: 3000;
  background-color: white;
}

.navblock .navbar .logo img {
  width: 80%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar nav ul {
  list-style: none;
  display: none;
}

.navbar nav li {
  display: inline-block;
}

.hero .right {
  display: none;
}

.navbar nav div .circle button::before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-color: #e7332b;
  position: absolute;
  top: -0.8em;
  right: 6.4em;

  border-radius: 30em;
  background-image: url(./imagnew/thumbs.png);
  background-size: 70%;
  background-position: 8;

  background-repeat: no-repeat;
}

#cc {
  background-color: #e7332b;
  /* color: white; */
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 1em;
  padding: 1em;
  display: block;
  position: relative;
}

#cc a {
  position: relative;
  display: block;
  color: white;
  font-size: 1em;
  display: flex;
  align-content: center;
  justify-content: center;

  top: -0.5em;
  left: -0.32em;
}

.navblock .navbar .logo {
  width: 50%;
}

.navblock .navbar nav {
  width: 30%;
}

.left {
  display: flex;
  justify-content: center;
}

.left img {
  width: 80%;
}

.middle {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 7em;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* cards */

.whyCards .middle {
  display: flex;
  flex-direction: column;

  width: 95%;
  align-self: center;
  background-color: #fffdf5;
}
.whyCards .bottom {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-self: center;
  background-color: #fffdf5;
  padding-bottom: 9em;
}

.whyCards .card {
  margin: 1em;
  width: 95%;
  align-self: center;
  border-radius: 1.5em;
  height: 350px;
  box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px;
}

.whyCards .card1 .text {
  width: 80%;
  padding: 3em;
  text-align: start;
}

.whyCards .card1 {
  background-color: #e7332b;
}
.whyCards .card1 .text h1 {
  color: white;
  font-size: 3.2em;

  width: 100%;
}
.whyCards .card1 .text h2 {
  color: white;
  font-size: 2em;
  width: 100%;
  margin-top: 0.9em;
}
.whyCards .card1 .text p {
  color: white;
  font-size: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.whyCards .card1::before {
  content: "";
  background-image: url(./imagnew/curve1.png);
  position: absolute;
  right: 4.8%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1 -1;
  background-color: #e7332b;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 0 1.5em 0 0;
}

/* card2 */
.whyCards .card2 .text {
  width: 80%;
  padding: 3em;
  text-align: start;
}

.whyCards .card2 {
  background-color: #ffffff;
}
.whyCards .card2 .text h1 {
  font-size: 3.2em;

  width: 100%;
}
.whyCards .card2 .text h2 {
  font-size: 2em;
  width: 100%;
  margin-top: 0.9em;
}
.whyCards .card2 .text p {
  font-size: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.whyCards .card2::before {
  content: "";
  background-image: url(./imagnew/curve.svg);
  position: absolute;
  right: 4.8%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1 -1;
  background-color: #ffffff;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 0 1.5em 0 0;
}

/* card3 */
.whyCards .card3 .text {
  width: 80%;
  padding: 3em;
  text-align: start;
}

.whyCards .card3 {
  background-color: #ffffff;
}
.whyCards .card3 .text h1 {
  font-size: 3.2em;

  width: 100%;
}
.whyCards .card3 .text h2 {
  font-size: 2em;
  width: 100%;
  margin-top: 0.9em;
}
.whyCards .card3 .text p {
  font-size: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.whyCards .card3::before {
  content: "";
  background-image: url(./imagnew/curve3.svg);
  position: absolute;
  right: 4.8%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1 -1;
  background-color: #ffffff;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 0 1.5em 0 0;
}

/* card4 */
.whyCards .card4 .text {
  width: 80%;
  padding: 3em;
  text-align: start;
}

.whyCards .card4 {
  background-color: #ffffff;
}
.whyCards .card4 .text h1 {
  font-size: 3.2em;

  width: 100%;
}
.whyCards .card4 .text h2 {
  font-size: 2em;
  width: 100%;
  margin-top: 0.9em;
}
.whyCards .card4 .text p {
  font-size: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.whyCards .card4::before {
  content: "";
  background-image: url(./imagnew/curve4.svg);
  position: absolute;
  right: 4.8%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1 -1;
  background-color: #ffffff;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 0 1.5em 0 0;
}
/* card5 */

.whyCards .card5 .text {
  width: 80%;
  padding: 3em;
  text-align: start;
}

.whyCards .card5 {
  background-color: #ffffff;
}
.whyCards .card5 .text h1 {
  font-size: 3.2em;

  width: 100%;
}
.whyCards .card5 .text h2 {
  font-size: 2em;
  width: 100%;
  margin-top: 0.9em;
}
.whyCards .card5 .text p {
  font-size: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.whyCards .card5::before {
  content: "";
  background-image: url(./imagnew/curve5.svg);
  position: absolute;
  right: 4.8%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1 -1;
  background-color: #ffffff;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 0 1.5em 0 0;
}

/* card6 */
.whyCards .card6 .text {
  width: 80%;
  padding: 3em;
  text-align: start;
}

.whyCards .card6 {
  background-color: #ffffff;
}
.whyCards .card6 .text h1 {
  font-size: 3.2em;

  width: 100%;
}
.whyCards .card6 .text h2 {
  font-size: 2em;
  width: 100%;
  margin-top: 0.9em;
}
.whyCards .card6 .text p {
  font-size: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.whyCards .card6::before {
  content: "";
  background-image: url(./imagnew/curve6.svg);
  position: absolute;
  right: 4.8%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1 -1;
  background-color: #ffffff;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 0 1.5em 0 0;
}

/* cards finished */
#kk {
  color: #1b1a20;
}

.enroll {
  align-self: center;
  display: flex;
  justify-content: center;

  width: 100%;
}

.middle .enroll img {
  width: 50px;
  position: relative;
  left: 2em;
}

.enroll a {
  background-color: #e7332b;
  padding: 0.65em;
  display: flex;
  width: 160px;
  border-radius: 1em;
  align-self: center;
  color: white;
  margin: 5em 0em 10em 0em;

  justify-content: center;
}

.middle img {
  width: 100px;
  position: relative;

  left: 4em;
}

.line {
  border-top: 1px solid rgba(0, 0, 0, 0.219);
  width: 90%;
  margin: 1em auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}

.wrapper {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .img {
  display: flex;
  justify-content: center;
}

.wrapper img {
  width: 50%;
}

.wrapper p,
.wrapper h1 {
  text-align: center;
}

.wrapper h1 {
  font-size: 1.5em;
}

#green {
  color: green;
}

.whycards .right {
  display: none;
}

.whycards {
  display: flex;
  flex-direction: column;
  background-color: #fffdf5;
}

.whycards .left {
  display: flex;
  flex-direction: column;
}

.whycards .left img {
  width: 60px;
  display: flex;
  align-self: center;
}

.whycards .left h4 {
  color: #e7332b;
  margin: 0 1em;
}

.whycards .left h1 {
  font-size: 1.4rem;
  margin: 0 1rem 1rem 1rem;
}

.bottom {
  display: flex;
  flex-direction: column;
}


/* red bg */

.redbg{
  background-color: #e7332b;
  display: flex;
  flex-direction: column;
  padding: 2em;
  color: #ffffff;
}

.redbg .left{
  display: flex;
  flex-direction: column;
}

.redbg .left .superior{
  display: flex;
  flex-direction: column;
}

.redbg .left .superior img{
  width: 20%;
  align-self:center
}

.redbg .left .superior p{
  line-height: 1.3em;
  font-size: 1.2em;
  margin: 1.5em 0 0 0;

}
#enroll{
  background-color: #fffdf5;
  color: #e7332b;
  width: 40%;
  max-width: 150px;
  text-align: center;
  padding: .5em;
  border-radius: 1em;
  margin: 2em 0;
  box-shadow: #1b1a204b 2px 2px 2px;
}

.redbg .left .inferior{
  display: flex;
  flex-direction: column;
}

.redbg .left .inferior .buttonwrap{
  display: flex;
  margin:  1em 0;
  justify-content: space-between;

}

.redbg .left .inferior .buttonwrap button{
  width: 45%;
  max-width: 200px;
  min-width: 100px;
  display: flex;
  padding: 1em .2em;
  background-color: #e7332b;
  border: 2px solid white;
  border-radius: 2em;
  align-items: center;
}

.redbg .left .inferior .buttonwrap button .pic{

  width: 20%;
} 

.redbg .left .inferior .buttonwrap button .text{
  color: #ffffff;
  justify-self: center;
 
  margin: 0 0 0 .4em;
}

.redbg .right{
  display: flex;
  flex-direction: column;
}

.redbg .right  .lady img{

  width: 100%;
}

.redbg .right  .dot img{
  width: 15%;
 position: relative;
  bottom: 0%;
  left: 1%;
  margin: 1em 0;
}

/* section 3 */


.scope .text .image img {
  width: 50%;
  display: flex;
  justify-self: center;
}

.scope .text .image {
  width: 80%;
  display: flex;
  justify-content: center;
}

.scope .text .words h4 {
  color: #e7332b;
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 0.3em;
}

.scope .text .words h1 {
  color: #1b1a20;
  font-size: 1.7em;
}

.scope {
  background-color: #fffdf5;
  display: flex;
  flex-direction: column;
}

.scope .cards {
  display: flex;
  flex-direction: column;
}

.scope .cards .up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scope .cards .down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scopecard {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 2.5em;
  margin-top: 1em;
  background-color: #ffffff;
  box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
  border-radius: 2em;
}

.scopecard .icons {
  height: 50px;
  margin: 1em 0;
}

.scopecard .icons img {
  width: 60px;
  height: 55px;
}

.scopecard p {
  line-height: 1.3em;
  font-size: 1.16em;
  color: #1b1a20ad;
  letter-spacing: 0.6px;

  padding: 40px 0px 30px;
}

.scopecard h2 {
  color: #1b1a20e3;
}

.scope .text .words {
  margin: 4em 1em;
}

.enroll a {
  background-color: #e7332b;
  color: #ffffff;
  margin: 1em;
  border-radius: 2em;
  font-size: 1.2em;
  font-weight: 6o0;
}

.FAQ .up {
  background-image: url(./imagnew/section7wire.svg);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 7em 2em;
}

.FAQ .up .text {
  padding-top: 5em;
}

.FAQ .up .text p {
  color: #e7332b;
  font-size: 1.3rem;
}

.FAQ .up .text h1 {
  margin: 0em 3em;
  text-align: center;
}

.FAQ .middle {
  display: flex;
}

.FAQ .middle .container {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.FAQ .middle .container .div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  flex-direction: column;
  display: flex;
}

.hidden {
  transition: 0.2s ease;
  max-height: 0;
  overflow: hidden;
  margin: 0em 3em 1em 1em;
}

.FAQ .middle .container .FAQS.active .hidden {
  max-height: 300px;
  transition: 1s ease;
  display: flex;
  width: 85%;
  margin: 0em 3em 1em 1em;
}

.messagecol {
  display: flex;
}

.messagecol p {
  width: 85%;
  display: flex;
  padding: 1em;
  font-size: 1.2rem;
}

.messagecol div {
  display: flex;
  align-items: center;
}

.FAQ .middle .container .FAQS.active .fa-solid {
  transform: rotate(180deg);
  transition: 0.4s;
}

.fa-solid {
  transition: 0.4s;
}

.FAQ .down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FAQ .down a {
  background: #e7332b;
  border-radius: 2em;
  color: white;
  margin: 1em;
  display: flex;
  justify-content: center;
  padding: 0.6em;
  width: 200px;
}

.FAQ .down a P {
  align-self: center;
}

.programstructure {
  border-top: 1px solid rgba(56, 55, 55, 0.678);
  margin: 2em auto;
}

.programstructure .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./image/section7wire.svg);
  background-position: 30% 3%;
  background-repeat: no-repeat;
  background-size: 50px, 50px;
}

#star7 {
  display: none;
}

#wire7 {
  max-width: 60px;
  width: 40%;
}

.programstructure .top {
  padding: 2em 1em 2em 1em;
}
.programstructure .top p {
  padding: 1em;
  text-align: center;
}

.programstructure .top h4 {
  color: #e7332b;
}

.programstructure .middle {
  display: flex;
  justify-content: center;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
}

.programstructure .middle .leftblack {
  background-color: #1b1a20;
  width: 95%;
  border-radius: 2em;
  padding: 4em;
  margin: 2em auto;
  background-image: url(./image/hour.png);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 90% 97%;
}

.programstructure .middle .rightblack {
  background-color: #1b1a20;
  width: 95%;
  border-radius: 2em;
  padding: 4em;
  margin: 2em auto;
  background-image: url(./image/time.png);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 90% 97%;
}

.programstructure .middle .rightblack ul {
  margin-left: 1em;
}
.programstructure .middle .rightblack ul li {
  margin-top: 1em;
}

.programstructure .middle .leftblack .left1 h1 {
  margin: 0.5em auto;
}
.programstructure .middle .leftblack .left1 p {
  margin: 1em auto;
}
.programstructure .middle .leftblack .left2 h2 {
  font-size: 1.4em;
  margin: 1em auto;
}
.programstructure .middle .leftblack .left2 h3 {
  font-size: 1.2em;
  margin: 1em auto;
}

.programstructure .middle .leftblack .left2 ul li {
  margin-top: 0.4em;
}

.programstructure .middle .leftblack .left2 ul {
  margin-left: 1em;
}

.programstructure .bottom {
  background-color: #e7332b;
  width: 95%;
  color: #fffdf5;
  border-radius: 2em;
  margin: 2em auto;
  padding: 5em;
  align-items: center;
  text-align: center;
  background-image: url(./image/bend1.svg), url(./image/mains.png),
    url(./image/round.svg), url(./image/curve2.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 50px;
  background-position: 100% 0, 100% 100%, 15% 20%, 0 100%;
}

.programstructure .bottom button {
  width: 110px;

  background-color: #fffdf5;
  padding: 0.6em;
  border: none;
  border-radius: 1em;
  box-shadow: 1px 1px 1px rgba(56, 55, 55, 0.205);
  color: #e7332b;
  margin: 3em 0 0 0;
  font-size: 0.8em;
}

.programstructure .bottom p {
  margin: 1em auto;
}

.programstructure .bottom h1 {
  font-size: 1.4em;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer a {
  font-size: 0.7em;
  margin: 1em;
  color: #1b1a20;
}

footer .social img {
  width: 25px;
}

footer a img {
  width: 100%;
  margin: 1em auto;
}

footer .logo {
  align-content: center;
  align-self: center;
  width: 60%;
  display: flex;
}

footer p {
  font-size: 0.7em;
  color: #1b1a20cb;
  padding: 2em;
}
footer .text {
  border-bottom: 1px solid grey;
}

@media only Screen and (min-width: 600px) {
  .hero .middle .enroll {
    padding: 3em;
  }
  .hero .middle .text h1 {
    margin: 0.6em;
    text-align: center;
  }

  .hero .middle .text p {
    margin: 1em;
    text-align: center;
  }

  .wrapper .img {
    margin: 3em;
  }

  .wrapper .img img {
    width: 300px;
  }

  .whyCards .top {
    width: 95%;
    display: flex;
    align-self: center;
  }

  .whyCards .top .left img {
    width: 15%;
  }

  .whyCards .card1::before {
    width: 200px;
    height: 200px;
  }

  .whyCards .card2::before {
    width: 200px;
    height: 200px;
  }

  .whyCards .card3::before {
    width: 200px;
    height: 200px;
  }

  .whyCards .card4::before {
    width: 200px;
    height: 200px;
  }

  .whyCards .card5::before {
    width: 200px;
    height: 200px;
  }

  .whyCards .card6::before {
    width: 200px;
    height: 200px;
  }

 
}

@media only screen and (min-width: 768px) {
  .enroll {
    background-image: url(./image/maleface.svg);
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-size: 60px;
  }
}

@media only Screen and (min-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em 1em 1em 3em;
    justify-content: space-around;
  }

  .wrapper .img {
    width: 33%;
    display: flex;
    justify-content: center;
  }

  .wrapper h1 {
    width: 20%;
  }

  .wrapper p {
    width: 20%;
  }

  .wrapper .img img {
    width: 70px;
  }
}
@media only Screen and (min-width: 1200px) {
}
